<div id="tool-bar" class="tool-bar">
    <div class="tool-bar-left btn-group">
        <d-button id="undo" *ngIf="hasUndo" dTooltip bsStyle="text-dark" [content]="'toolBar.backButton' | translate"
            [disabled]="!hasUndo" (click)="handleUndoButtonClick($event)">
            <img src={{backSvg}} />
        </d-button>
        <d-button id="undo" *ngIf="!hasUndo" dTooltip bsStyle="text-dark" [content]="'toolBar.backButton' | translate"
            [disabled]="!hasUndo" (click)="handleUndoButtonClick($event)">
            <img src={{backDisabledSvg}} />
        </d-button>
        <d-button id="redo" *ngIf="hasRedo" dTooltip bsStyle="text-dark" [content]="'toolBar.redoButton' | translate"
            [disabled]="!hasRedo" (click)="handleRedoButtonClick($event)">
            <img src={{redoSvg}} />
        </d-button>
        <d-button id="redo" *ngIf="!hasRedo" dTooltip bsStyle="text-dark" [content]="'toolBar.redoButton' | translate"
            [disabled]="!hasRedo" (click)="handleRedoButtonClick($event)">
            <img src={{redoDisabledSvg}} />
        </d-button>
        <d-button id="zoom-in" dTooltip bsStyle="text-dark" [content]="'toolBar.zoomInButton' | translate"
            (click)="handleZoomInButtonClick($event)">
            <img src={{zoomInSvg}} />
        </d-button>
        <d-button id="zoom-out" dTooltip bsStyle="text-dark" [content]="'toolBar.zoomOutButton' | translate"
            (click)="handleZoomOutButtonClick($event)">
            <img src={{zoomOutSvg}} />
        </d-button>
        <d-button id="zoom-reset" dTooltip bsStyle="text-dark" [content]="'toolBar.zoomResetButton' | translate"
            (click)="handleZoomResetButtonClick($event)">
            <img src={{zoomResetSvg}} />
        </d-button>
        <d-button id="zoom-fit" dTooltip bsStyle="text-dark" [content]="'toolBar.zoomFitButton' | translate"
            (click)="handleZoomFitButtonClick($event)">
            <img src={{zoomFitSvg}} />
        </d-button>
        <d-button id="switch" dTooltip bsStyle="text-dark" [content]="'toolBar.switchButton' | translate"
            (click)="handleSwitchDirectionButtonClick($event)">
            <img src={{switchSvg}} />
        </d-button>
        <d-button id="run" dTooltip bsStyle="text-dark" [content]="'toolBar.runGraphButton' | translate"
            (click)="handleRunButtonClick($event)">
            <img src={{runGraphSvg}} />
        </d-button>
    </div>

    <div class="tool-bar-right">
        <div class="btn-group" style="display:inline-block" dDropDown [trigger]="'hover'"
            appendToBody [alignOrigin]="projectRef"
            [appendToBodyDirections]="['centerDown', 'centerUp']">
            <span dDropDownToggle>
                <button class="tool-bar-button">
                    &nbsp;&nbsp;&nbsp;&nbsp;{{'toolBar.project' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </span>
            <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar" role="menu">
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="createProject" (click)="handleNewProjectButtonClick($event)">
                        {{'toolBar.newButton' | translate}}
                    </a>
                </li>
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="createProject" (click)="handleOpenProjectButtonClick($event)">
                        {{'toolBar.openProjectButton' | translate}}
                    </a>
                </li>
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="save-as" (click)="showSaveAsDialog()">
                        {{'toolBar.saveAsButton' | translate}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group" style="display:inline-block" dDropDown [trigger]="'hover'"
            appendToBody [alignOrigin]="flowunitRef"
            [appendToBodyDirections]="['centerDown', 'centerUp']">
            <span dDropDownToggle>
                <button class="tool-bar-button">
                    {{'toolBar.flowunit' | translate}}
                </button>
            </span>
            <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar" role="menu">
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="new" (click)="handleNewFlowunitButtonClick($event)">
                        {{'toolBar.newFlowunitButton' | translate}}
                    </a>
                </li>
            </ul>
        </div>

        <div class="btn-group" style="display:inline-block" dDropDown [trigger]="'hover'"
            appendToBody [alignOrigin]="graphRef"
            [appendToBodyDirections]="['centerDown', 'centerUp']">
            <span dDropDownToggle>
                <button class="tool-bar-button">
                    &nbsp;&nbsp;{{'toolBar.graph' | translate}}&nbsp;&nbsp;
                </button>
            </span>
            <ul dDropDownMenu class="devui-dropdown-menu devui-scrollbar" role="menu">
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="new-graph" (click)="handleNewButtonClick($event)">
                        {{'toolBar.newGraphButton' | translate}}
                    </a>
                </li>
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="open-graph-setting"
                        (click)="showGraphSettingDialog(graphSetting)">
                        {{'toolBar.graphSettingButton' | translate}}
                    </a>
                </li>
                <li role="menuitem">
                    <a class="devui-dropdown-item" id="open-select" (click)="showSelectDialog(graphSelect)">
                        {{'toolBar.selectDialogButton' | translate}}
                    </a>
                </li>
            </ul>
        </div>
        <button id="save-as" (click)="showSaveAsDialog()" class="tool-bar-button">
            &nbsp;&nbsp;&nbsp;&nbsp;{{'toolBar.saveAsButton' | translate}}&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
        <button id="open-solution" (click)="showSolutionDialog(solutionSelect)" class="tool-bar-button">
            {{'toolBar.solutionDialogButton' | translate}}
        </button>
    </div>

    <div class="tool-bar-mid">
        <span style="font-size:28px; font-weight:500;">
            {{projectName}}
        </span>

        <span style="margin-left:24px;">
            {{'toolBar.nameLabel' | translate}}{{oldName || '--'}}
        </span>
    </div>
</div>

<ng-template #graphSetting id="graphSetting">
    <d-layout class="basic-usage">
        <d-tabs [(activeTab)]="tabActiveId" type="slider" customWidth="100px">
            <d-tab id="tab1">
                <ng-template dTabTitle>
                    {{'toolBar.setting.basic'| translate}}
                </ng-template>
                <ng-template dTabContent>
                    <form dForm [layout]="layoutDirection" ngForm style="margin:10px">
                        <d-form-item>
                            <d-form-label [required]="true">{{'toolBar.setting.name' | translate}}</d-form-label>
                            <d-form-control>
                                <div>
                                    <input type="text" [value]="formData.name"
                                        (input)="formData.name=$event.target?.value">
                                </div>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.desc' | translate}}</d-form-label>
                            <d-form-control>
                                <textarea dTextarea name="desc" [(ngModel)]="formData.desc"></textarea>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.skipDefault' | translate}}</d-form-label>
                            <d-form-control>
                                <d-checkbox [(ngModel)]="formData.skipDefault" name="skipDefault"
                                    (change)="onCheckboxSkipDefaultChange($event)"> </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.dir' | translate}}</d-form-label>
                            <d-form-control>
                                <textarea dTextarea name="dir" [(ngModel)]="formData.flowunitPath"></textarea>
                            </d-form-control>
                        </d-form-item>
                    </form>
                </ng-template>
            </d-tab>

            <d-tab id="tab2">
                <ng-template dTabTitle>
                    {{'toolBar.setting.perf'| translate}}
                </ng-template>
                <ng-template dTabContent>
                    <form dForm [layout]="layoutDirection" ngForm>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.perf.enable' | translate}}</d-form-label>
                            <d-form-control>
                                <d-checkbox [(ngModel)]="formData.perfEnable" name="perfEnable"
                                    (change)="onCheckboxPerfEnableChange($event)"> </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.perf.trace.enable' | translate}}</d-form-label>
                            <d-form-control>
                                <d-checkbox [(ngModel)]="formData.perfTraceEnable" name="perfTraceEnable"
                                    (change)="onCheckboxPerfTraceEnableChange($event)"> </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.perf.session.enable' | translate}}</d-form-label>
                            <d-form-control>
                                <d-checkbox [(ngModel)]="formData.perfSessionEnable" name="perfSessionEnable"
                                    (change)="onCheckboxPerfSessionEnableChange($event)"> </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>{{'toolBar.setting.perf.path' | translate}}</d-form-label>
                            <d-form-control>
                                <div>
                                    <input dTextInput autocomplete="off" name="userName"
                                        [(ngModel)]="formData.perfPath" />
                                </div>
                            </d-form-control>
                        </d-form-item>
                    </form>
                </ng-template>
            </d-tab>
        </d-tabs>
    </d-layout>
</ng-template>

<ng-template #graphSelect let-context='context'>
    <d-content>
        <d-data-table [fixHeader]="true" [containFixHeaderHeight]="true" [scrollable]="true" [headerBg]="true"
            [colDraggable]="true" [dataSource]="graphSelectTableDataForDisplay" tableHeight="360px"
            [tableWidthConfig]="tableWidthConfig">
            <thead dTableHead>
                <tr dTableRow>
                    <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">{{ colOption.header }}</th>
                </tr>
            </thead>
            <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                    <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                        <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
                            <d-checkbox *ngIf="colOption.field === 'checked'" [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                                [ngModel]="rowItem.checked">
                            </d-checkbox>
                            <div *ngIf="colOption.field === 'name'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                            <div *ngIf="colOption.field === 'dotSrc'">
                                <div [ngbTooltip]="tipContent" #t1="ngbTooltip"
                                    (mouseenter)="toggleTip(t1, graphSelectTableData[rowIndex].dotSrc)"
                                    placement="bottom" tooltipClass="my-custom-class-wide">
                                    {{ rowItem[colOption.field] }}
                                </div>
                            </div>
                            <div *ngIf="colOption.field === 'lastChanged'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] | date: 'yyyy-MM-dd HH:mm:ss'}}
                            </div>
                            <div *ngIf="colOption.field === 'select_operation'" class="edit-padding-fix">
                                <a class="delete-button" (click)="deleteData(rowItem, rowIndex)">
                                    {{'toolBar.deleteDialogButton' | translate}}
                                </a>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </d-data-table>
    </d-content>
</ng-template>


<ng-template #tipContent let-context="context">
    <div class="tips-block-top"
        style="background-color: #333854; font-size: 75%; margin: 20px; padding: 8px; width: 600px;">
        {{context}}
    </div>
</ng-template>

<ng-template #solutionSelect let-context='context'>
    <d-content>
        <d-data-table [fixHeader]="true" [containFixHeaderHeight]="true" [scrollable]="true" [headerBg]="true"
            [colDraggable]="true" [dataSource]="solutionList" tableHeight="360px"
            [tableWidthConfig]="solutionTableWidthConfig">
            <thead dTableHead>
                <tr dTableRow>
                    <th dHeadCell *ngFor="let colOption of solutionTableOptions.columns">{{ colOption.header }}</th>
                </tr>
            </thead>
            <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                    <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                        <td dTableCell *ngFor="let colOption of solutionTableOptions.columns">
                            <d-checkbox *ngIf="colOption.field === 'checked'" [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="onSolutionRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                                [ngModel]="rowItem.checked">
                            </d-checkbox>
                            <div *ngIf="colOption.field === 'name'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                            <div *ngIf="colOption.field === 'desc'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                            <div *ngIf="colOption.field === 'file'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </d-data-table>
    </d-content>
</ng-template>