<div id="tool-bar" class="tool-bar">
    <div class="tool-bar-left btn-group">
        <d-button
          id="undo"
          *ngIf="hasUndo"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.backButton' | translate"
          [disabled]="!hasUndo"
          (click)="handleUndoButtonClick($event)">
          <div class="icon-undo-customed"></div>
        </d-button>
        <d-button
          id="undo"
          *ngIf="!hasUndo"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.backButton' | translate"
          [disabled]="!hasUndo"
          (click)="handleUndoButtonClick($event)">
          <div class="icon-undo-disabled"></div>
        </d-button>
        <d-button
          id="redo"
          *ngIf="hasRedo"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.redoButton' | translate"
          [disabled]="!hasRedo"
          (click)="handleRedoButtonClick($event)">
          <div class="icon-redo-customed"></div>
        </d-button>
        <d-button
          id="redo"
          *ngIf="!hasRedo"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.redoButton' | translate"
          [disabled]="!hasRedo"
          (click)="handleRedoButtonClick($event)">
          <div class="icon-redo-disabled"></div>
        </d-button>
        <d-button
          id="zoom-in"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.zoomInButton' | translate"
          (click)="handleZoomInButtonClick($event)">
          <div class="icon-zoom-in-customed"></div>
        </d-button>
        <d-button
          id="zoom-out"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.zoomOutButton' | translate"
          (click)="handleZoomOutButtonClick($event)">
          <div class="icon-zoom-out-customed"></div>
        </d-button>
        <d-button
          id="zoom-reset"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.zoomResetButton' | translate"
          (click)="handleZoomResetButtonClick($event)">
          <div class="icon-zoom-reset"></div>
        </d-button>
        <d-button
          id="zoom-fit"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.zoomFitButton' | translate"
          (click)="handleZoomFitButtonClick($event)">
          <div class="icon-zoom-out-map"></div>
        </d-button>
        <d-button
          id="switch"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.switchButton' | translate"
          (click)="handleSwitchDirectionButtonClick($event)">
          <div class="icon-switch-customed"></div>
        </d-button>
        <d-button
          id="run"
          *ngIf="!statusGraph"
          dTooltip
          bsStyle="text-dark"
          [content]="'toolBar.runGraphButton' | translate"
          (click)="handleRunButtonClick($event)">
          <div class="icon-run-graph"></div>
        </d-button>
        <d-button
            id="stop"
            *ngIf="statusGraph === 1"
            dTooltip
            bsStyle="text-dark"
            [content]="'toolBar.stopGraphButton' | translate"
            (click)="handleStopButtonClick($event)">
            <div class="icon-stop-customed"></div>
        </d-button>        
        <d-button
            id="restart"
            *ngIf="statusGraph === 2"
            dTooltip
            bsStyle="text-dark"
            [content]="'toolBar.restartGraphButton' | translate"
            (click)="handleRestartButtonClick($event)">
            <div class="icon-restart-customed"></div>
        </d-button>

    </div>

    <div class="tool-bar-mid ellipsis project-name">
            {{formDataCreateProject.name}}
    </div>
    <div class="tool-bar-mid ellipsis graph-name">
            {{'toolBar.graph.name' | translate}}
            {{formData.graphName}}
    </div>

    <div class="tool-bar-right">
        <d-select
            id="projectDropDown"
            class="btn-group project-drop-down"
            [options]="options1"
            [filterKey]="'specialContent'"
            [(ngModel)]="currentOption1"
            [highlightItemClass]=""
            (ngModelChange)="handleProjectDropDown($event)">
            <ng-template
                let-option="option"
                let-filterKey="filterKey">
                {{ option.name }}
            </ng-template>
        </d-select>

        <d-select
            class="btn-group flowunit-drop-down"
            [options]="options2"
            [filterKey]="'specialContent'"
            [(ngModel)]="currentOption2"
            [highlightItemClass]=""
            (ngModelChange)="handleFlowunitDropDown($event)">
            <ng-template
                let-option="option"
                let-filterKey="filterKey">
                {{ option.name }}
            </ng-template>
        </d-select>

        <button 
            id="open-graph-setting" 
            (click)="showGraphSettingDialog(graphSetting)" 
            class="tool-bar-button">
            {{'toolBar.graphSettingButton' | translate}}
        </button>
    </div>
</div>
<ng-template #titleTemplate>
    <h1>{{formDataCreateProject.name}}</h1>
    <h4>{{'toolBar.path.name' | translate}}{{formDataCreateProject.rootpath}}</h4>
</ng-template>
<ng-template #newGraph>
    <d-layout class="basic-usage">
        <d-layout 
            dForm 
            [layout]="layoutDirection2"
            style="margin:10px">
            <d-form-item>
                <d-form-label [required]="true">
                    {{'graph.name' | translate}}
                </d-form-label>
                <d-form-control>
                    <div>
                        <input 
                            dTextInput 
                            name="project_name" 
                            [(ngModel)]="formData.graphName" 
                            maxlength="31"/>
                    </div>
                </d-form-control>
            </d-form-item>
        </d-layout>
    </d-layout>
</ng-template>
<ng-template #createProject id="createProject">
    <d-layout class="basic-usage">
        <form 
            dForm 
            [layout]="layoutDirection"
            style="margin:10px">
            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.project_name' | translate}}
                </d-form-label>
                <d-form-control>
                    <div>
                        <input 
                            dTextInput 
                            name="project_name" 
                            [(ngModel)]="formDataCreateProject.name" 
                            maxlength="31"/>
                    </div>
                </d-form-control>
            </d-form-item>
            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.modal.project_path' | translate}}
                </d-form-label>
                <d-form-control>
                    <input 
                        dTextInput 
                        name="rootpath" 
                        [(ngModel)]="formDataCreateProject.rootpath" 
                        maxlength="4096"/>
                </d-form-control>
            </d-form-item>
            <d-form-item *ngIf="false">
                <d-form-label>
                    {{'toolBar.setting.desc' | translate}}
                </d-form-label>
                <d-form-control>
                    <textarea dTextarea name="desc"></textarea>
                </d-form-control>
            </d-form-item>
            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.setting.template' | translate}}
                </d-form-label>
                <d-form-control 
                    class="card-container" 
                    style="height:300px;overflow:auto">
                    <div style="width: 48%;display:inline-block">
                        <d-card 
                            class="card-container card-out" 
                            *ngFor="let d of optionSolutionList[0]"
                            (click)="onClickCard(d, $event)">
                            <d-card-header>
                                <d-avatar 
                                    dCardAvatar 
                                    [name]="d.dirname">
                                </d-avatar>
                                <d-card-title>
                                    {{d.name}}
                                </d-card-title>
                            </d-card-header>
                            <d-card-content>
                                <div>
                                    {{d.desc}}
                                </div>
                            </d-card-content>
                        </d-card>
                    </div>
                    <div style="width: 48%;display:inline-block">
                        <d-card 
                            class="card-container card-out"
                            *ngFor="let d of optionSolutionList[1]"
                            (click)="onClickCard(d, $event)">
                            <d-card-header>
                                <d-avatar 
                                    dCardAvatar 
                                    [name]="d.dirname">
                                </d-avatar>
                                <d-card-title>
                                    {{d.name}}
                                </d-card-title>
                            </d-card-header>
                            <d-card-content>
                                <div>{{d.desc}}</div>
                            </d-card-content>
                        </d-card>
                    </div>
                </d-form-control>
            </d-form-item>
        </form>
    </d-layout>
</ng-template>

<ng-template #openProject id="openProject">
    <d-layout class="basic-usage">
        <form dForm [layout]="layoutDirection" style="margin:10px">
            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.modal.project_path' | translate}}
                </d-form-label>
                <d-form-control>
                    <div class="flex-center">
                        <div class="devui-form-group" style="width:80%">
                            <input 
                                dTextInput 
                                type="text" 
                                class="devui-form-control devui-dropdown-origin"
                                name="language" 
                                placeholder="Search" 
                                [minLength]="0" 
                                [(ngModel)]="openproject_path"
                                dAutoComplete 
                                [source]="openProjectList" 
                                (selectValue)="onPathSelect($event)"
                                (keyup)="($event.which === 13)?searchDirectory():0"
                                (blur)="searchDirectory()"
                                maxlength="4096"/>
                        </div>
                        <d-button 
                            style="margin-left:30px;" 
                            icon="icon-search" 
                            bsStyle="primary"
                            (click)="searchDirectory()">
                        </d-button>
                    </div>
                </d-form-control>
            </d-form-item>
            <d-form-item>
                <d-form-control>
                    <d-data-table 
                        class="table-style" 
                        [dataSource]="folderList" 
                        [scrollable]="true" 
                        [type]="'striped'"
                        [borderType]="'borderless'" 
                        (cellClick)="cellClick($event)" 
                        maxHeight="360px">
                        <d-column 
                            field="folder" 
                            [header]="'toolBar.modal.folder' | translate" 
                            [cellClass]="'cell-style'">
                        </d-column>
                        <d-column 
                            field="isProject" 
                            [cellClass]="'cell-style'">
                        </d-column>
                    </d-data-table>
                </d-form-control>
            </d-form-item>
        </form>
    </d-layout>
</ng-template>

<ng-template #createFlowunit id="createFlowunit">

    <d-layout class="basic-usage">
        <form dForm [layout]="layoutDirection" style="margin:10px">
            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.modal.unitType' | translate}}
                </d-form-label>
                <d-form-control>
                    <d-radio-group 
                        [direction]="'row'" 
                        [(ngModel)]="formDataCreateFlowunit.lang"
                        (change)="langValueChange2($event)" 
                        [direction]="'row'" 
                        [ngModelOptions]="{ standalone: true }">
                        <d-radio 
                            [name]="'lang2'" 
                            *ngFor="let value of valueslang" 
                            [value]="value.value">
                            {{ value.name }}
                        </d-radio>
                    </d-radio-group>
                </d-form-control>
            </d-form-item>

            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.modal.flowunit_name' | translate}}
                </d-form-label>
                <d-form-control>
                    <div>
                        <input 
                            dTextInput 
                            name="flowunit_name" 
                            [(ngModel)]="formDataCreateFlowunit.name" 
                            maxlength="31"/>
                    </div>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang === 'virtual'">
                <d-form-label [required]="true">
                    {{'modal.virtualFlowunitType' | translate}}
                </d-form-label>
                <d-form-control>
                    <div class="row">
                        <div class="col-md-5">
                            <d-select 
                                [options]="virtualOptions" 
                                [ngModelOptions]="{ standalone: true }"
                                [(ngModel)]="virtualType">
                            </d-select>
                        </div>
                    </div>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang !== 'virtual'">
                <d-form-label [required]="true">
                    {{'toolBar.modal.device' | translate}}
                </d-form-label>
                <d-form-control>
                    <d-select 
                        [appendToBody]="true" 
                        [ngModelOptions]="{ standalone: true }" 
                        *ngIf="formDataCreateFlowunit.lang !== 'python'"
                        [appendToBodyDirections]=" ['centerDown', 'centerUp' ]"
                        [(ngModel)]="formDataCreateFlowunit.device" 
                        (valueChange)="deviceValueChange($event)"
                        [placeholder]="'toolBar.modal.device' | translate" 
                        [options]="optionsdevice">
                    </d-select>
                    <d-select 
                        [appendToBody]="true" 
                        [ngModelOptions]="{ standalone: true }" 
                        *ngIf="formDataCreateFlowunit.lang === 'python'"
                        [appendToBodyDirections]=" ['centerDown', 'centerUp' ]"
                        [(ngModel)]="formDataCreateFlowunit.device" 
                        (valueChange)="deviceValueChange($event)"
                        [placeholder]="'toolBar.modal.device' | translate" 
                        [options]="optionsdevicePython">
                    </d-select>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang === 'inference'">
                <d-form-label [required]="true">
                    {{'model' | translate}}
                </d-form-label>
                <d-form-control>
                    <input 
                        dTextInput 
                        name="model" 
                        placeholder="model.pb" 
                        [(ngModel)]="formDataCreateFlowunit.model" />
                </d-form-control>
            </d-form-item>


            <d-form-item *ngIf="formDataCreateFlowunit.lang === 'inference'">
                <d-form-label>
                    {{"toolBar.copyModel" | translate}}
                </d-form-label>
                <d-form-control>
                    <d-toggle 
                        [(ngModel)]="isCopy" 
                        [size]="'sm'" 
                        [ngModelOptions]="{standalone: true}">
                    </d-toggle>
                </d-form-control>
            </d-form-item>

            <d-form-item 
                style="margin-bottom: 0 !important;" 
                *ngIf="formDataCreateFlowunit.lang !== 'virtual'">
                <d-form-label></d-form-label>
                <d-form-control>
                    <div class="flex-space-between">
                        <div class="label-name">
                            {{'toolBar.modal.inputOutput' | translate}}
                        </div>
                        <div class="label-name">
                            {{'toolBar.modal.port_name' | translate}}
                        </div>
                        <div *ngIf="formDataCreateFlowunit.lang === 'inference'" class="label-name">
                            {{'toolBar.modal.data_type' | translate}}
                        </div>
                        <div class="label-name">
                            {{'toolBar.modal.device' | translate}}
                        </div>
                        <div class="label-name">

                        </div>
                    </div>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang !== 'virtual'">
                <d-form-label [required]="true">
                    {{'toolBar.modal.portOption' | translate}}
                </d-form-label>
                <d-form-control>
                    <div class="flex-space-between">
                        <div style="width:100px">
                            <d-select 
                                [appendToBody]=" true" 
                                [ngModelOptions]="{ standalone: true }"
                                [appendToBodyDirections]=" ['centerDown', 'centerUp' ]" 
                                [(ngModel)]="portInfo.port_type"
                                [placeholder]="'toolBar.modal.inputOutput' | translate" 
                                [options]="optionsInOut"
                                (valueChange)="handleValueChangeport_type($event)">
                            </d-select>
                        </div>

                        <div style="width:100px">
                            <input 
                                type="text" 
                                id="name" 
                                name="name" 
                                required 
                                [(ngModel)]="portInfo.port_name"
                                placeholder="port name" 
                                (ngModelChange)="onPortNameChange($event)">
                        </div>

                        <div 
                            style="width:100px" 
                            *ngIf="formDataCreateFlowunit.lang === 'inference'">
                            <d-select 
                                [appendToBody]="true" 
                                [appendToBodyDirections]="['centerDown', 'centerUp']"
                                [(ngModel)]="portInfo.data_type" 
                                [ngModelOptions]="{ standalone: true }"
                                [filterKey]="'id'" 
                                [placeholder]="'toolBar.modal.data_type' | translate"
                                [options]="optionsdata_type" 
                                [isSearch]="true">
                                <ng-template let-option="option">
                                    {{ option }}
                                </ng-template>
                            </d-select>
                        </div>

                        <div style="width:100px">
                            <d-select 
                                [appendToBody]="true" 
                                [appendToBodyDirections]="['centerDown', 'centerUp']"
                                [disabled]="portdeviceAble" 
                                [(ngModel)]="portInfo.device"
                                [ngModelOptions]="{ standalone: true }"
                                [placeholder]="'toolBar.modal.device' | translate" 
                                [options]="optionsdevice">
                            </d-select>
                        </div>

                        <button class="tool-bar-button" (click)="handleAddPortInfoClick()">
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            {{'toolBar.modal.add' | translate}}
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </button>
                    </div>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang !== 'virtual'">
                <d-form-control>
                    <d-data-table [dataSource]="formDataCreateFlowunit.port_infos" [scrollable]="true"
                        maxHeight="200px">
                        <thead dTableHead>
                            <tr dTableRow *ngIf="formDataCreateFlowunit.lang !== 'inference'">
                                <th dHeadCell *ngFor="let colOption of portHeaderOptions.columns">
                                    {{ colOption.header }}
                                </th>
                            </tr>
                            <tr dTableRow *ngIf="formDataCreateFlowunit.lang === 'inference'">
                                <th dHeadCell *ngFor="let colOption of portHeaderFullOptions.columns">
                                    {{ colOption.header }}
                                </th>
                            </tr>
                        </thead>
                        <tbody dTableBody>
                            <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
                                <tr dTableRow>
                                    <td dTableCell>
                                        {{rowItem.port_type}}
                                    </td>
                                    <td dTableCell>
                                        {{rowItem.port_name}}
                                    </td>
                                    <td dTableCell *ngIf="rowItem.data_type">
                                        {{rowItem.data_type}}
                                    </td>
                                    <td dTableCell *ngIf="rowItem.device">
                                        {{rowItem.device}}
                                    </td>
                                    <td dTableCell>
                                        <a class="delete-button" (click)="deletePort(rowItem, rowIndex)">
                                            {{'toolBar.deleteDialogButton' | translate}}
                                        </a>
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </d-data-table>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang !== 'inference' && 
                                formDataCreateFlowunit.lang !== 'yolo' && 
                                formDataCreateFlowunit.lang !== 'virtual'">
                <d-form-label [required]="true">
                    {{'toolBar.modal.flowunit_type' | translate}}
                </d-form-label>
                <d-form-control style="height:32px;">
                    <div style="display: inline-block;">
                        <d-tabs 
                            [(activeTab)]="formDataCreateFlowunit.type" 
                            type="slider">
                            <d-tab *ngFor="let item of flowunit_types" [id]="item.id">
                                <ng-template dTabTitle>
                                    {{ item.title }}
                                </ng-template>
                            </d-tab>
                        </d-tabs>
                    </div>
                </d-form-control>

            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang === 'inference'">
                <d-form-label [required]="true">
                    {{'virtualType' | translate}}
                </d-form-label>
                <d-form-control style="height:32px">
                    <d-tabs 
                        [(activeTab)]="formDataCreateFlowunit['virtual-type']" 
                        type="slider">
                        <d-tab *ngFor="let item of types" [id]="item.id">
                            <ng-template dTabTitle>
                                {{ item.title }}
                            </ng-template>
                        </d-tab>
                    </d-tabs>
                </d-form-control>
            </d-form-item>

            <d-form-item *ngIf="formDataCreateFlowunit.lang === 'yolo'">
                <d-form-label [required]="true">
                    {{ "toolBar.yoloType" | translate}}
                </d-form-label>
                <d-form-control style="height:32px">
                    <d-tabs 
                        [(activeTab)]="formDataCreateFlowunit['virtual-type']" 
                        type="slider">
                        <d-tab *ngFor="let item of types_yolo" [id]="item.id">
                            <ng-template dTabTitle>
                                {{ item.title }}
                            </ng-template>
                        </d-tab>
                    </d-tabs>
                </d-form-control>
            </d-form-item>

            <d-form-item>
                <d-form-label [required]="true">
                    {{'toolBar.modal.flowUnitGroup' | translate}}
                </d-form-label>
                <d-form-control>
                    <d-select 
                        [options]="flowunitGroupOptions" 
                        [customViewTemplate]="addCustomeGroup"
                        [(ngModel)]="formDataCreateFlowunit['group-type']" 
                        [ngModelOptions]="{standalone: true}">
                    </d-select>
                </d-form-control>
            </d-form-item>
            <d-form-item>
                <d-form-label>
                    {{'toolBar.setting.desc' | translate}}
                </d-form-label>
                <d-form-control>
                    <textarea 
                        dTextarea 
                        name="desc" 
                        [(ngModel)]="formDataCreateFlowunit.desc"
                        [ngModelOptions]="{standalone: true}"></textarea>
                </d-form-control>
            </d-form-item>
        </form>
    </d-layout>
</ng-template>

<ng-template #addCustomeGroup let-selectComponent>
    <div>

    </div>
</ng-template>

<ng-template #graphSetting id="graphSetting">
    <d-layout class="basic-usage">
        <d-tabs 
            [(activeTab)]="tabActiveId" 
            type="slider" 
            customWidth="100px">
            <d-tab id="tab1">
                <ng-template dTabTitle>
                    {{'toolBar.setting.basic'| translate}}
                </ng-template>
                <ng-template dTabContent>
                    <form 
                        dForm 
                        [layout]="layoutDirection"
                        style="margin:10px">
                        <d-form-item>
                            <d-form-label [required]="true">
                                {{'toolBar.setting.name' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <div>
                                    <input 
                                        dTextInput 
                                        type="text" 
                                        [(ngModel)]="formData.graphName"
                                        [ngModelOptions]="{standalone: true}">
                                </div>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.setting.desc' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <textarea 
                                    dTextarea 
                                    name="desc" 
                                    [(ngModel)]="formData.graphDesc">
                                </textarea>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.setting.skipDefault' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <d-checkbox 
                                    [(ngModel)]="formData.skipDefault" 
                                    name="skipDefault"
                                    (change)="onCheckboxSkipDefaultChange($event)">
                                </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.reLeaseFlowunitPath' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <textarea 
                                    dTextarea 
                                    name="dir2" 
                                    [(ngModel)]="formData.flowunitReleasePath">
                                </textarea>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.debugFlowunitPath' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <textarea 
                                    dTextarea 
                                    name="dir" 
                                    [(ngModel)]="formData.flowunitDebugPath">
                                </textarea>
                            </d-form-control>
                        </d-form-item>
                    </form>
                </ng-template>
            </d-tab>

            <d-tab id="tab2">
                <ng-template dTabTitle>
                    {{'toolBar.setting.perf'| translate}}
                </ng-template>
                <ng-template dTabContent>
                    <form 
                        dForm 
                        [layout]="layoutDirection"
                        >
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.setting.perf.trace.enable' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <d-checkbox 
                                    [(ngModel)]="formData.perfTraceEnable" 
                                    name="perfTraceEnable"
                                    (change)="onCheckboxPerfTraceEnableChange($event)">
                                </d-checkbox>
                            </d-form-control>
                        </d-form-item>
                        <d-form-item>
                            <d-form-label>
                                {{'toolBar.setting.perf.path' | translate}}
                            </d-form-label>
                            <d-form-control>
                                <div>
                                    <input 
                                        dTextInput 
                                        autocomplete="off" 
                                        name="userName"
                                        [(ngModel)]="formData.perfPath" />
                                </div>
                            </d-form-control>
                        </d-form-item>
                    </form>
                </ng-template>
            </d-tab>
        </d-tabs>
    </d-layout>
</ng-template>

<ng-template #graphSelect let-context='context'>
  <d-content>
    <d-data-table
      [fixHeader]="true" 
      [containFixHeaderHeight]="true" 
      [scrollable]="true" 
      [headerBg]="true"
      [colDraggable]="true" 
      [dataSource]="graphSelectTableDataForDisplay" 
      tableHeight="360px"
      [tableWidthConfig]="tableWidthConfig">
      <thead dTableHead>
        <tr dTableRow>
          <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">{{ colOption.header }}</th>
        </tr>
      </thead>
      <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
            <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
                    <d-checkbox 
                        *ngIf="colOption.field === 'checked'" 
                        [ngModelOptions]="{ standalone: true }"
                        (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                        [ngModel]="rowItem.checked">
                    </d-checkbox>
                    <div 
                        *ngIf="colOption.field === 'name'" 
                        class="edit-padding-fix">
                        {{ rowItem[colOption.field] }}
                    </div>
                    <div *ngIf="colOption.field === 'dotSrc'">
                        <div 
                            class="dot-class"
                            dPopover 
                            bsStyle="common" 
                            [content]="tipContent"
                            [controlled]="true">
                            {{ rowItem[colOption.field] }}
                        </div>
                        <ng-template #tipContent>
                            <div class="tips-block-top tips-tip-content">
                                {{ rowItem[colOption.field] }}
                            </div>
                        </ng-template>
                    </div>
                    <div *ngIf="colOption.field === 'desc'">
                        <div 
                            class="dot-class"
                            dPopover 
                            bsStyle="common" 
                            [content]="tipContent"
                            [controlled]="true">
                            {{ rowItem[colOption.field] }}
                        </div>
                        <ng-template #tipContent>
                            <div class="tips-block-top tips-tip-content">
                                {{ rowItem[colOption.field] }}
                            </div>
                        </ng-template>
                    </div>
                </td>
            </tr>
        </ng-template>
      </tbody>
    </d-data-table>
  </d-content>
</ng-template>



<ng-template #solutionSelect let-context='context'>
    <d-content>
        <d-data-table 
            [fixHeader]="true" 
            [containFixHeaderHeight]="true" 
            [scrollable]="true" 
            [headerBg]="true"
            [colDraggable]="true" 
            [dataSource]="solutionList" 
            tableHeight="360px"
            [tableWidthConfig]="solutionTableWidthConfig">
            <thead dTableHead>
                <tr dTableRow>
                    <th dHeadCell *ngFor="let colOption of solutionTableOptions.columns">
                        {{ colOption.header }}
                    </th>
                </tr>
            </thead>
            <tbody dTableBody>
                <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                    <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
                        <td dTableCell *ngFor="let colOption of solutionTableOptions.columns">
                            <d-checkbox 
                                *ngIf="colOption.field === 'checked'" 
                                [ngModelOptions]="{ standalone: true }"
                                (ngModelChange)="onSolutionRowCheckChange($event, rowItem)" 
                                [ngModel]="rowItem.checked">
                            </d-checkbox>
                            <div *ngIf="colOption.field === 'name'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                            <div *ngIf="colOption.field === 'desc'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                            <div *ngIf="colOption.field === 'file'" class="edit-padding-fix">
                                {{ rowItem[colOption.field] }}
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </tbody>
        </d-data-table>
    </d-content>
</ng-template>
<d-toast 
  [value]="msgs" 
  [style]="{ top: '100px' }">
</d-toast>
