<link rel="stylesheet" type="text/css" id="console-resource-uiframe-css" data-console-resource-attr="href"
  href="//res.hc-cdn.com/console-ui/0.1.209/hws/index.css" />
<script>
  window.AppWebPath = '/editor';
  window.CDNAddress = '';
</script>
<div class="modelArts-header-container logo">
  <img src={{logoSvg}} />
  <div class="logo-text">{{consoleName}}</div>
</div>
<div class="modelArts-header-container links-panel">
  <div class="links">
    <a class="modelArts-header-link links" href="/help/" target="_blank">
      <i class="icon icon-help"></i>{{helpText}}
    </a>
  </div>
  <div class="splitting-line"></div>
  <div class="links">
    <a class="modelArts-header-link links" href="/api/" target="_blank">
      <img src={{apiSvg}} />API
    </a>
  </div>
</div>

<div class="cf-header-container">
  <div class="cf-header cf-custom-theme modelArts-header">
  </div>
</div>