<div 
  [dMovable]="true" 
  [handle]="header" 
  [moveEl]="parent" 
  class="modal-vscode">
  <div class="modal-header" #header>
    {{ 'message.pleaseUseIDEOpenCodeProject' | translate }}
  </div>
  <div class="modal-body">
    <div>
      <strong>{{ 'projectPath' | translate }}</strong>
      <br>
      <strong>{{ data.content }}</strong>
      <br>
      <br>
      <strong>{{ 'notice' | translate }}</strong>
      <br>
      {{ 'vscode.1' | translate }}
      <br>
      <br>
      {{ 'vscode.2' | translate }}
      <a 
        style="text-decoration: underline;color:#0000EE; cursor:pointer" 
        href="https://developer.huaweicloud.com/develop/aigallery/article/detail?id=f5c39a55-0f72-48c5-b8f3-5ec383b5be91" 
        target="_blank">
        {{ 'guide' | translate }}
      </a>{{ 'vscode.3' | translate }}
      <a 
        style="text-decoration: underline; color:#0000EE; cursor:pointer" 
        (click)="download($event)">
        {{ 'bat' | translate }}
      </a>
      {{ 'vscode.4' | translate }}
      <br>
      <br>
    </div>
  </div>
  <div class="modal-footer">
    <d-button bsStyle="primary" circled="true" (click)="close($event)">{{ data.cancelBtnText }} </d-button>
  </div>
  <i class="icon-close" (click)="close($event)"></i>
</div>