<div 
  [dMovable]="true" 
  [handle]="header" 
  [moveEl]="parent" 
  class="modal-vscode">
  <div class="modal-header" #header>
    请使用IDE打开代码工程
  </div>
  <div class="modal-body">
    <div>
      <strong>项目路径：</strong>
      <br>
      <strong>{{ data.content }}</strong>
      <br>
      <br>
      <strong>提示：</strong>
      <br>
      1. 用户使用IDE进行代码开发和调试， UI主要提供功能单元创建和图编排可视化等辅助功能
      <br>
      <br>
      2. 推荐使用vscode进行代码开发，具体安装及使用方法可参考
      <a 
        style="font-size:16px" 
        href="https://developer.huaweicloud.com/develop/aigallery/article/detail?id=f5c39a55-0f72-48c5-b8f3-5ec383b5be91" 
        target="_blank">
        指导
      </a>，如果环境准备完毕，可以直接下载
      <a 
        style="font-size:16px; color:#0000EE; cursor:pointer" 
        (click)="download($event)">
        批处理
      </a>
      文件远程启动工程
      <br>
      <br>
    </div>
  </div>
  <div class="modal-footer">
    <d-button bsStyle="primary" circled="true">{{ data.cancelBtnText }} </d-button>
  </div>
  <i class="icon-close" (click)="close($event)"></i>
</div>