<app-header-main #header [active]="page">

</app-header-main>
<div class="demo-page">
  <div class="tasklist-search-box-div">
    <div class="tasklist-search-box-block">
    </div>
    <div class="tasklist-search-box-block">
      <button 
        id="open-graph-setting" 
        style="float: right;"
        class="tool-bar-button"
        (click)="showDebugPanel(debug)">
        {{'toolBar.debug' | translate}}
      </button>
    </div>
  </div>

  <d-data-table
    [fixHeader]="true"
    tableHeight="360px"
    [containFixHeaderHeight]="true"
    [scrollable]="true"
    [headerBg]="true"
    [colDraggable]="true"
    [dataSource]="tableData.srcData.data"
    [tableWidthConfig]="mainTableWidthConfig">
    <thead dTableHead>
      <tr dTableRow>
        <th dHeadCell *ngFor="let colOption of dataTableOptions.columns">{{ colOption.header }}</th>
      </tr>
    </thead>
    <tbody dTableBody>
      <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex">
        <tr dTableRow>
          <td dTableCell *ngFor="let colOption of dataTableOptions.columns">
            <div *ngIf="colOption.field !== 'job_operation'" class="edit-padding-fix">
              <span *ngIf="colOption.field == 'job_status'" class="edit-padding-fix">
                <d-badge *ngIf="rowItem['job_status'] === 'CREATEING'" [showDot]="true" status="warning"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'SUCCEEDED'" [showDot]="true" status="success"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'FAILED'" [showDot]="true" status="danger"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'PENDING'" [showDot]="true" status="waiting"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'UNKNOWN'" [showDot]="true" status="danger"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'RUNNING'" [showDot]="true" status="success"></d-badge>
                <d-badge *ngIf="rowItem['job_status'] === 'NOTEXIST'" [showDot]="true" status="danger"></d-badge>
                &nbsp;
                {{ rowItem['job_status_value'] }}
              </span>
              <span *ngIf="colOption.field !== 'job_status'">
                {{ rowItem[colOption.field] }}
              </span>
            </div>
            <div *ngIf="colOption.field === 'job_operation'" class="edit-padding-fix">
              <a class="delete-button" (click)="deleteData(rowItem)">
                {{'toolBar.deleteDialogButton' | translate}}
              </a>
            </div>
          </td>
        </tr>
      </ng-template>
    </tbody>
  </d-data-table>
</div>

<ng-template #createTaskModal let-context='context'>
  <d-content>
    <d-data-table
      [fixHeader]="true"
      [containFixHeaderHeight]="true"
      [scrollable]="true"
      [headerBg]="true"
      [colDraggable]="true"
      [dataSource]="taskData.srcData.data"
      [tableWidthConfig]="tableWidthConfig">
      <thead dTableHead>
        <tr dTableRow>
          <th dHeadCell *ngFor="let colOption of taskData.columns">{{ colOption.header }}</th>
        </tr>
      </thead>
      <tbody dTableBody>
        <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
          <tr dTableRow [ngClass]="{ 'table-row-selected': rowItem.$checked }">
            <td dTableCell *ngFor="let colOption of taskData.columns">
              <d-checkbox
                *ngIf="colOption.field === 'checked'"
                [ngModelOptions]="{ standalone: true }"
                (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                [ngModel]="rowItem.checked">
              </d-checkbox>
              <div *ngIf="colOption.field === 'name'" class="edit-padding-fix">
                {{ rowItem.job_id }}
              </div>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </d-data-table>
  </d-content>
</ng-template>

<ng-template #debug id="debug">
  <d-layout class="basic-usage">
    <d-tabs [type]="'tabs'" [(activeTab)]="tab1acticeID">
      <d-tab id="tab1" [title]="'toolBar.apiDebug' | translate" >
        <ng-template dTabContent>
          <div style="height:560px">
            <div style="display: inline-block;width:90%">
              <d-select 
                style="display: inline-block;width:15%"
                [options]="options"
                [(ngModel)]="selectMethod">
              </d-select>
              <input 
                style="display: inline-block;width:80%; margin: 0 4px 2px 4px"
                dTextInput 
                [(ngModel)]="url"
                id="textInput" />
            </div>
            <div style="display: inline-block;width:10%">
              <button 
                class="tool-bar-button"
                style="width:100%; right:0"
                (click)="handleSend()"
                >
                Send
              </button>
            </div>

            <fieldset class="title-fieldset">
              <legend class="inner">Request</legend>
            </fieldset>

            <div style= "width:100%;height:40px;display:flex; justify-content: space-between; align-items: center;">
              <div style="width:50%;display:inline-block">
                <div
                  style="display:flex; align-items:center;justify-content: space-between;"
                  (click)="beautifyJson()">
                  <d-radio-group
                    style="display:inline-block"
                    [name]="'optionContent'"
                    [values]="values"
                    [(ngModel)]="choose"
                    (ngModelChange)="radioValueChange($event)"
                    [direction]="'row'"
                  >
                  </d-radio-group>
                  <div 
                    *ngIf="choose === 'Body'"
                    style="font-size: 18px; color:dodgerblue;display:inline-block;cursor: pointer">
                    Beautify
                  </div>
                </div>
              </div>
              <div style="width:50%;display:inline-block">
                <div 
                  style="width:140px;float:right">
                  <d-select
                    [placeholder]="'Template Structure'" 
                    (valueChange)="templateChange($event)"
                    [options]="optionsTemplate">
                  </d-select>
                </div>
              </div>
            </div>

            <div style= "width:100%;height:180px;">
              <div 
                *ngIf="choose === 'Header'"
                style="height: 160px">
                <d-data-table
                  [dataSource]="dataHeaders"
                  [scrollable]="true"
                  [tableWidthConfig]="tableWidthConfigKeyValue"
                >
                  <thead dTableHead [checkable]="true">
                    <tr dTableRow>
                      <th dHeadCell style="text-align: center;">Key</th>
                      <th dHeadCell style="text-align: center;">Value</th>
                    </tr>
                  </thead>
                  <tbody dTableBody>
                    <ng-template let-rowItem="rowItem" let-rowIndex="rowIndex" let-nestedIndex="nestedIndex">
                      <tr 
                        class="trheader"
                        dTableRow 
                        [ngClass]="{ 'table-row-selected': rowItem.$checked }"
                      >
                        <td dTableCell class="devui-checkable-cell">
                          <d-checkbox
                            [ngModelOptions]="{ standalone: true }"
                            (ngModelChange)="onRowCheckChange($event, rowIndex, nestedIndex, rowItem)"
                            [ngModel]="rowItem.ischecked"
                          >
                          </d-checkbox>
                        </td>
                        <td 
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['nameEdit']"
                          [rowItem]="rowItem"
                          [field]="'key'"
                          [beforeEditEnd]="beforeEditEnd"
                          style="text-align: center;"
                        >
                          <span *ngIf="!rowItem['nameEdit']">{{ rowItem?.key }}</span>
                          <div *ngIf="rowItem['nameEdit']" class="edit-padding-fix">
                            <input class="devui-form-control" name="key" [(ngModel)]="rowItem.key" [attr.maxlength]="100" [attr.minlength]="3" />
                          </div>
                        </td>
                        <td 
                          dTableCell
                          [editable]="true"
                          [editableTip]="editableTip"
                          [(editing)]="rowItem['nameEdit2']"
                          [rowItem]="rowItem"
                          [field]="'value'"
                          [beforeEditEnd]="beforeEditEnd"
                          style="text-align: center;"
                        >
                          <span *ngIf="!rowItem['nameEdit2']">{{ rowItem?.value }}</span>
                          <div *ngIf="rowItem['nameEdit2']" class="edit-padding-fix">
                            <input class="devui-form-control" name="value" [(ngModel)]="rowItem.value" [attr.maxlength]="100" [attr.minlength]="3" />
                          </div>
                        </td>
                        
                        <i 
                          class="icon icon-close"
                          style="position:fixed; right:40px; cursor:pointer"
                          (click)="handleDelete(rowIndex)"
                        >
                        </i>
                      </tr>
                    </ng-template>
                  </tbody>
                </d-data-table>
              </div>
              <div 
                *ngIf="choose === 'Body'"
                style="height: 160px;width:50%;display:inline-block">
                <ace
                  class="app-ace-editor"
                  #editor
                  style="height: 160px;"
                  [config]="config"
                  [mode]="'dot'"
                  [value]="jsonSrc"
                  (valueChange)="handleChange($event)"
                  [theme]="'tomorrow'"
                >
                </ace>
              </div>
              
              <div 
                *ngIf="choose === 'Body'"
                style="height: 160px;width:50%;display:inline-block">
                <ngx-json-viewer 
                  [json]="jsonSrcObj"
                  [expanded]="true">
                </ngx-json-viewer>
              </div>
            </div>

            <fieldset class="title-fieldset">
              <legend class="inner">Response</legend>
            </fieldset>

            <div style= "width:100%;height:180px">
              <ace
                class="app-ace-editor"
                #editor
                style="height: 80%;"
                [config]="config"
                [value]="responseSrc"
                [theme]="'tomorrow'"
                [mode]="'dot'">
              </ace>
            </div>
          </div>
        </ng-template>
      </d-tab>
    </d-tabs>
  </d-layout>
</ng-template>