.banner {
  width            : 100%;
  height           : 450px;
  position         : absolute;
  top              : 50px;
  left             : 0;
  background-image : url("../../../assets/banner.png");
  background-repeat: no-repeat;
  background-size  : cover;

  .title {
    margin       : 0 auto;
    width        : 440px;
    text-align   : center;
    font-size    : 36px;
    margin-top   : 100px;
    margin-bottom: 32px;
  }

  .para {
    margin   : 0 auto;
    width    : 700px;
    font-size: 16px;
    text-indent:2em;
  }
}

.sp-panel {
  position       : absolute;
  top            : 380px;
  left           : 16%;
  height         : 36%;
  right          : 16%;
  width          : 68%;
  margin         : auto;
  display        : flex;
  justify-content: space-evenly;
  align-items    : center;
}

.ch-panel {
  width           : 20%;
  height          : 100%;
  min-width       : 200px;
  border-radius   : 2px;
  background-color: #fff;
  box-shadow      : 0 0 5px 2px rgb(207, 204, 204);
}

.ch-panel:hover {
  cursor: pointer;
}

.hr-dashed {
  border    : 0;
  border-top: 1px dashed #a2a9b6;
  margin : 0px;
}

.first-icon {
  width  : 100%;
  display: inline-block;
}

.title-ch-panel {
  font-size: 30px;
  display  :inline-flex;
  align-items: center;
  justify-content: center;
  right: 50%;
  left:50%
  
}

.container-flex {
  display        : flex;
  align-items    : center;
}

.icon {
  height           : 64px;
  width            : 64px;
  margin           : 20px 20px 0 20px;
  background-size  : contain;
  background-repeat: no-repeat;
}

.icon-example {
  .icon();
  background-image: url("../../../assets/example.svg");
}

.icon-arrange {
  .icon();
  background-image: url("../../../assets/arrange.svg");
}

.icon-arrange:hover {
  cursor: pointer;
}

.icon-task {
  .icon();
  background-image: url("../../../assets/task.svg");
}

.icon-task:hover {
  cursor: pointer;
}

.para-ch-panel {
  margin   : 30px 30px 0 30px;
  font-size: 16px;
  
  text-indent:2em;
}

.border {
  transition: ease-in .2s;
  background: white;
  background-size    : 0 2px, 2px 0, 0 2px, 2px 0;
  background-position: left top, right top, right bottom, left bottom;
}

.border:hover {
  .rainbow();
}

@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}

.rainbow {
	position: relative;
	z-index: 0;
  height:100%;
	width: 20%;
	border-radius: 10px;
	overflow: hidden;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		left: -50%;
		top: -50%;
		width: 200%;
		height: 200%;
		background-repeat: no-repeat;
		background-size: 50% 50%, 50% 50%;
		background-position: 0 0, 100% 0, 100% 100%, 0 100%;
		background-image: linear-gradient(#c80000, white), linear-gradient(white, #c80000);
		animation: rotate 2s linear infinite;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		left: 6px;
		top: 6px;
		width: calc(100% - 12px);
		height: calc(100% - 12px);
		background: white;
		border-radius: 5px;
		opacity: 1;
	}
}
