<div style="padding-top:8px;padding-bottom:8px; margin-bottom:10px; font-weight: 600; text-align: center; box-shadow: 0px 4px 8px#dfe1e6">
  <span style="font-size:18px">
    {{ 'insertPanel.flowunitList' | translate}}
  </span>
  <i class="icon icon-refresh"
    style="margin-left: 20px;margin-bottom: 5px;cursor:pointer"
    (click)="refreshFlowunit()">
  </i>
</div>
<d-accordion
  id="main-accrodition"
  [data]="nodeShapeCategories"
  [accordionType]="'embed'"
  [autoOpenActiveMenu]="true"
  [innerListTemplate]="innerListTemplate"
  [ngStyle]="classes.columns">
</d-accordion>

<ng-template #innerListTemplate let-item="item">
  <div
    class="devui-accordion-submenu menu-detail draggable"
    [ngStyle]="classes.column"
    *ngFor="let child of item.children"
    [ngSwitch]="item.title"
    title=""
    draggable="true"
    (dragstart)="handleNodeShapeDragStart(child).call(this, $event)"
    (drag)="handleNodeShapeDrag(child).call(this, $event)"
    (dragend)="handleNodeShapeDragEnd(child).call(this, $event)"
    (dblclick)="handleNodeShapeClick(child)($event)">
    <div
      class="menu-block"
      [ngbTooltip]="tipContent"
      #t1="ngbTooltip"
      (mouseenter)="toggleTip(t1, child)"
      placement="right"
      container="body"
      tooltipClass="my-custom-class">
      <img *ngSwitchCase="'Image'" src={{imgSvg}} />
      <img *ngSwitchCase="'Video'" src={{videoSvg}} />
      <img *ngSwitchCase="'Input'" src={{inputSvg}} />
      <img *ngSwitchCase="'Output'" src={{outputSvg}} />
      <img *ngSwitchDefault src={{commonSvg}} />
      {{child.title}}
    </div>
  </div>
</ng-template>

<ng-template #tipContent let-context="context">
  <div class="tips-block">
    <div>{{tipName}}{{context.title}}</div>
    <div>{{tipVersion}}{{context.version}}</div>
    <div>{{tipTopType}}{{context.types.join(' | ')}}</div>
    <div>{{tipDescription}}{{context.descryption}}</div>
    <div>{{tipIsVirtualmodel}}{{context.virtual ? tipYes : tipNo}}</div>
  </div>
</ng-template>