#main-accrodition {
    color: #282B33;

    .menu-block {
        white-space: nowrap
    }

    .devui-accordion-item-title {
        width      : 100%;
        font-weight: 600;
        font-size  : 16px;
    }

    .devui-accordion-splitter {
        display: none;
    }

    .menu-detail {
        margin       : 20px;
        padding-left : 16px;
        padding-right: 16px;
        width        : calc(100% - 36px);
    }

    .menu-detail:hover {
        box-shadow: 0 0 3px 3px #DFE1E6, 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    }

    .cat-units-length {
        display    : inline-block;
        right      : 2px;
        font-size  : 12px;
        color      : #8A8E99;
        font-weight: 400;
    }

    .cat-name {
        display    : inline-block;
        width      : 140px;
        font-weight: 600;
        font-size  : 14px;
    }

    .draggable {
        cursor     : grab;
        user-select: none;
    }

    .draggable:active {
        cursor: grabbing;
    }
}

.tips-block {
    display   : grid;
    text-align: left;
    width     : 240px;
    color     : white;
    height    : auto;

    &::before {
        width        : 0;
        height       : 0;
        position     : absolute;
        content      : "";
        left         : 0px;
        top          : 50% - 10px;
        border-top   : 10px solid transparent;
        border-right : 10px solid #333854;
        border-bottom: 10px solid transparent;
        border-left  : 10px solid transparent;
    }
}

.tips-block-top {
    display   : grid;
    text-align: left;
    width     : 240px;
    color     : white;
    height    : auto;

    &::before {
        width        : 0;
        height       : 0;
        position     : absolute;
        content      : "";
        left         : 50% - 10px;
        top          : 0;
        border-top   : 10px solid transparent;
        border-right : 10px solid transparent;
        border-bottom: 10px solid #333854;
        border-left  : 10px solid transparent;
    }
}